@charset "utf-8";

/*!
 * 
 * < 鲜来鲜往 - 首页 >
 * 
 * @author:曹晨磊;
 * @since:1.0;
 * 
 * */


/*全局变量样式*/

body {
	min-width: 1280px !important;
	background-color: #F3F3F3 !important;
	color: #222 !important;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}

.mdui-container {
	min-width: 1280px !important;
}


/*全局变量样式*/

body {
	min-width: 1280px !important;
	background-color: #F3F3F3 !important;
	color: #222 !important;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}

.mdui-container {
	min-width: 1280px !important;
}


/*
1：网站首页整体主色：#4CAF50
2：网站时令水果主色：#31BA6A
3：网站新鲜蔬菜主色：#A7BF37
4：网站肉禽蛋品主色：#FF9F6F
5：网站海鲜水产主色：#56B1E8
6：网站柴米油盐主色：#F8DB63
*/

.xlxw-fruits-color {
	color: #31BA6A !important;
}

.xlxw-vegetables-color {
	color: #A7BF37 !important;
}

.xlxw-meat-color {
	color: #FF9F6F !important;
}

.xlxw-seafood-color {
	color: #56B1E8 !important;
}

.xlxw-oil-color {
	color: #F8DB63 !important;
}


/**
 * 
 * ##头部搜索栏样式##
 * 
 * */

.xlxw-search {
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}


/*搜索栏左边logo样式*/

.xlxw-search-left h1 {
	width: 151px;
	height: 48px;
	display: block;
	background: url(../images/index/logo/logo.png) no-repeat center center;
	margin: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.xlxw-search-left h1 a {
	margin: 0px;
	padding: 0px;
	width: 151px;
	height: 48px;
	display: block;
	text-indent: -9999px;
}


/*搜索栏右边搜索框样式*/

.xlxw-search-group {
	width: 550px;
	height: 34px;
	border: 2px solid #AAA;
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 0px 0px 0px 5px;
	float: left;
}

.xlxw-search-group-select {
	width: 72px;
	height: 36px;
	float: left;
}

.xlxw-search-group-select span {
	width: 70px;
	height: 34px;
	display: block;
	border-right: 2px solid #AAA;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
}

.xlxw-search-group-select:hover .xlxw-search-group-select-ul {
	display: block;
}

.xlxw-search-group-select span i {
	margin-left: -2px;
}

.xlxw-search-group-select-ul {
	width: 75px;
	height: 55px;
	display: block;
	background: #FFF;
	margin-left: -7px;
	padding: 0px;
	margin-top: 0px;
	border: 2px solid #AAA;
	border-top: transparent;
	display: none;
	position: absolute;
	z-index: 9999;
}

.xlxw-search-group-select-ul li {
	list-style: none;
	text-align: center;
	line-height: 27.5px;
	color: #212121;
	cursor: pointer;
}

.xlxw-search-group-select-ul li:hover {
	color: #4CAF50;
}

.xlxw-search-group input {
	width: 387px;
	height: 32px;
	display: block;
	outline: none;
	border: none;
	float: left;
	padding-left: 10px;
	background: #FCFCFC;
}

.xlxw-search-group button {
	width: 82px;
	height: 37px;
	background: #4CAF50;
	color: #FFF;
	outline: none;
	border: none;
	float: right;
	cursor: pointer;
	margin-top: -2px;
	margin-right: -2px;
}

.xlxw-search-shopping-cart {
	width: 100px;
	height: 34px;
	float: left;
	margin-left: 15px;
	border: 2px solid #4CAF50;
	margin-top: 7px;
	position: relative;
	cursor: pointer;
}

.xlxw-search-shopping-cart a {
	width: 78px;
	height: 34px;
	display: block;
	color: #4CAF50;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	text-decoration: none;
	padding-left: 24px;
}

.xlxw-search-shopping-cart span {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../images/index/shopping-cart/shopping-cart.png) no-repeat center center;
	position: absolute;
	left: 12px;
	top: 8px;
}


/**
 * 
 * ##全部商品分类样式##
 * 
 * */

.xlxw-menu-left {
	padding: 0px;
}

.xlxw-menu-all-active {
	width: 210.66px;
	height: 45px;
	line-height: 45px;
	background: #333;
	text-align: center;
	font-size: 20px;
	color: #FFF;
	font-weight: 500;
}

.xlxw-menu-all-group {
	width: 100%;
	min-width: 186px;
	height: 45px;
	line-height: 45px;
	margin: 0px;
}

.xlxw-menu-all-group>li {
	width: 10%;
	min-width: 83px;
	height: 45px;
	list-style: none;
	float: left;
	text-align: center;
}

.xlxw-menu-all-group>li>a {
	font-size: 14.5px;
	font-weight: 600;
	color: #333;
	text-align: center;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.xlxw-menu-all-group>li>a.xlxw-menu-all-group-active {
	background: #FEFEFE;
	color: #4CAF50;
}

.xlxw-menu-all-group>li>a:hover {
	background: #FEFEFE;
	color: #4CAF50;
}


/**
 * 
 * 
 * ##轮播导航区域样式##
 * 
 * */

.xlxw-carousel {
	height: 1245px !important;
	/*background: #F0F0F8 url(../images/index/banner/banner.jpg) no-repeat center center;*/
	background: #F0F0F0;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}

.xlxw-carousel .leaf1 {
	width: 268px;
	height: 476px;
	display: block;
	background: url(../images/index/banner/left-leaf.png) no-repeat center center;
	position: absolute;
	left: 0px;
	top: 330px;
	z-index: 1;
	opacity: .75;
}

.xlxw-carousel .leaf2 {
	width: 251px;
	height: 489px;
	display: block;
	background: url(../images/index/banner/right-leaf.png) no-repeat center center;
	position: absolute;
	right: 0px;
	top: 440px;
	z-index: 1;
	opacity: .75;
}

.xlxw-carousel-left,
.xlxw-carousel-center,
.xlxw-carousel-right {
	height: 476px !important;
	float: left;
	position: relative;
	z-index: 1000;
}

.xlxw-carousel-left {
	padding: 0px !important;
	width: 212px;
}

.xlxw-carousel-center {
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 737.33px;
	position: relative;
}

.xlxw-carousel-right {
	padding-left: 0px !important;
	width: 314px;
	height: 471px !important;
}


/*左边菜单导航*/

.xlxw-menu-item {
	height: 93.3px !important;
	background: #FEFEFE;
	position: relative;
	border: 1px solid #D9D9D9;
}

.xlxw-menu-item:hover {
	cursor: pointer;
}

.xlxw-menu-item>i:nth-child(1) {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 10px;
	top: 25px;
}

.xlxw-menu-item>i.xlxw-menu-item-more {
	position: absolute;
	left: 170px;
	top: 20px;
}

.xlxw-menu-item>a {
	font-size: 16px;
	font-weight: 700;
	color: #111;
	text-decoration: none;
	position: absolute;
	left: 55px;
	top: 25px;
}

.xlxw-menu-item>a:hover {
	color: #4CAF50;
}

.xlxw-menu-small-item>ul {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 55px;
	top: 55px;
}

.xlxw-menu-small-item>ul>li {
	margin: 0px;
	padding: 0px;
	width: 30px;
	height: 17px;
	line-height: 17px;
	list-style: none;
	float: left;
}

.xlxw-menu-small-item>ul>li>a {
	margin: 0px;
	padding: 0px;
	width: 30px;
	height: 17px;
	display: block;
	line-height: 17px;
	color: #666;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
}

.xlxw-menu-small-item>ul>li>a:hover {
	color: #4CAF50;
}

.xlxw-menu-small-item>ul>li.xlxw-menu-small-item-spacer {
	width: 1px !important;
	height: 14px !important;
	padding: 0px;
	background: #DDD;
	overflow: hidden;
	margin-left: 2px;
	margin-right: 2px;
}

.xlxw-menu-item>i.xlxw-menu-item-fruits {
	background: url(../images/index/menu/fruits.png) no-repeat center center;
}

.xlxw-menu-item>i.xlxw-menu-item-vegetables {
	background: url(../images/index/menu/vegetables.png) no-repeat center center;
}

.xlxw-menu-item>i.xlxw-menu-item-seafood {
	background: url(../images/index/menu/meat.png) no-repeat center center;
}

.xlxw-menu-item>i.xlxw-menu-item-meat {
	background: url(../images/index/menu/seafood.png) no-repeat center center;
}

.xlxw-menu-item>i.xlxw-menu-item-oil {
	background: url(../images/index/menu/rice.png) no-repeat center center;
	opacity: .78;
}


/**
 * 
 * 
 * ##二级菜单样式##
 * 
 * */

#xlxw_menu_item_nav {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

#xlxw_menu_item_nav>li {
	width: 737.33px;
	height: 476px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #E0E0E0;
	background: #FFF;
	margin: 0px;
	padding: 10px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}


/*通用标题项目*/

.xlxw_menu_item_nav_subitem>dl {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 16px;
	display: block;
	overflow: hidden;
	margin-bottom: 17.5px !important;
}

.xlxw_menu_item_nav_subitem>dl>dt,
.xlxw_menu_item_nav_subitem>dl>dd {
	margin: 2.5px;
	padding: 2.5px;
	display: block;
	float: left;
}

.xlxw_menu_item_nav_subitem>dl>dt>a,
.xlxw_menu_item_nav_subitem>dl>dd>a {
	color: #444;
	text-decoration: none;
}

.xlxw_menu_item_nav_subitem>dl>dt>a:hover,
.xlxw_menu_item_nav_subitem>dl>dd>a:hover {
	color: #111;
	text-decoration: underline;
}

.xlxw_menu_item_nav_subitem>dl>dt {
	color: #212121;
	font-weight: 600;
	font-size: 16px;
}


/*中间轮播插件*/

.xlxw-carousel-center ul {
	margin: 0px;
	padding: 0px;
	/*display: none;*/
}

.xlxw-carousel-center li {
	list-style: none !important;
}

#banner {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#banner .pic {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#banner .pic ul {
	width: 100% !important;
	height: 100% !important;
}

#banner .pic ul li {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

#banner .pic ul li a img {
	width: 100% !important;
	height: 100% !important;
	outline: none;
}

#banner .tab {
	width: 148px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -70px;
}

#banner .tab ul li {
	width: 18px;
	height: 18px;
	display: block;
	background: #F0F0F0;
	border-radius: 100%;
	float: left;
	margin: 1px 3px;
	cursor: pointer;
	border: 0.5px solid #4CAF50;
	opacity: .75;
}

#banner .tab ul li.on {
	background: #4CAF50;
}

#banner .btn {
	display: none;
}

#banner .btn div {
	width: 30px;
	height: 60px;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
}

#leftBtn {
	left: 0;
}

#rightBtn {
	right: 0;
}


/*市场动态样式*/

.xlxw-carousel-right-market-dynamics {
	height: 100% !important;
	border: 1px solid #DADADA;
	background: #FEFEFE;
	border-top: 4px solid #4CAF50;
	padding-left: 10px;
	padding-right: 10px;
}

.xlxw-carousel-right-market-dynamics>h1 {
	width: 263px;
	height: 32px;
	display: block;
	margin: 5px auto;
	background: url(../images/index/market-dynamics/market-dynamics.png) no-repeat center center;
	text-indent: -9999px;
}

.xlxw-carousel-right-market-dynamics>p {
	margin: 0px;
	padding: 0px;
	width: 50%;
	height: 25px;
	display: block;
	line-height: 25px;
	font-size: 12px;
	color: #212121;
	float: left;
}

.xlxw-carousel-right-market-dynamics>p:nth-child(3) {
	text-align: right;
}

.xlxw-carousel-right-market-dynamics .xlxw-divider-dark {
	margin-top: 5px !important;
}

.xlxw-carousel-right-market-dynamics ul.title {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 35px;
	display: block;
}

.xlxw-carousel-right-market-dynamics ul.title li {
	margin: 0px;
	padding: 0px;
	width: 20%;
	height: 35px;
	display: block;
	float: left;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	line-height: 35px;
	color: #454545;
}

#xlxw_scContent {
	width: 288px;
	height: 360px;
	display: block;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
}

#xlxw_scContent_list {
	width: 288px;
	height: 1440px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
}

.xlxw-carousel-right-market-dynamics ul.item {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 30px;
	display: block;
}

.xlxw-carousel-right-market-dynamics ul.item li {
	margin: 5px 0px;
	padding: 0px;
	width: 20%;
	height: 20px;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	line-height: 20px;
	color: #333;
}

ul.item li.red-arrow {
	background: url(../images/index/market-dynamics/red-arrow.png) no-repeat center center;
}

ul.item li.green-arrow {
	background: url(../images/index/market-dynamics/green-arrow.png) no-repeat center center;
}


/*热销推荐*/

.xlxw-hot-product-title>span {
	width: 128px;
	height: 28px;
	display: block;
	background: url(../images/index/area-good/area-good.png) no-repeat center center;
	margin: 30px auto;
}

.xlxw-hot-product {
	width: 100%;
	height: 650px;
	overflow: hidden;
	border: 1px solid #FFF;
	background: #FFF;
}

.xlxw-hot-product-content-list {
	width: 100% !important;
	height: 290px !important;
	display: block;
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0px;
}

.xlxw-hot-product-content-list-item {
	width: 198px;
	height: 290px;
	display: block;
	list-style: none;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	background: #F1F1F1;
	opacity: .99;
}

.xlxw-hot-product-content-list-item:hover {
	border: 1px solid #FF9F6F;
}

.xlxw-hot-product-content-list-item>a {
	text-decoration: none;
	display: block;
}

.xlxw-hot-product-content-list-item>a>img {
	width: 198px !important;
	height: 198px !important;
	display: block;
	outline: none;
	margin: 0px auto;
}

.xlxw-hot-product-content-list-item-title {
	width: 190px;
	height: 36px;
	font-size: 14px;
	color: #111;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	font-weight: lighter;
	margin: 15px auto;
	line-height: 18px;
	text-align: left;
}

.xlxw-hot-product-content-list-item-price,
.xlxw-hot-product-content-list-item-number {
	text-align: left;
	width: calc(50% - 20px);
	float: left;
	color: #111;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 15px;
}

.xlxw-hot-product-content-list-item-number {
	float: right;
	text-align: right;
	font-size: 14px;
}


/*通用标题颜色*/

.xlxw-fruits-green {
	color: #30B969 !important;
}

.xlxw-vegetables-light-green {
	color: #A7BF37 !important;
}

.xlxw-meat-orange {
	color: #FF9F6F !important;
}

.xlxw-seafood-blue {
	color: #56B1E8 !important;
}

.xlxw-oil-yellow {
	color: #f8db62 !important;
}

.xlxw-red {
	color: #FE602F !important;
}


/*时令鲜果样式开始*/

.xlxw-fruits-container {
	height: 700px !important;
	padding-top: 30px;
	overflow: hidden;
}


/*时令鲜果标题栏*/

.xlxw-fruits-container-title {
	width: 100% !important;
	height: 50px !important;
	position: relative;
	border: 1px solid #E0E0E0;
}

.xlxw-fruits-container-title>i {
	background: url(../images/index/menu/fruits.png) no-repeat center center;
	width: 32px;
	height: 32px;
	display: inline-block;
	background-position: 0px 0px;
	position: absolute;
	left: 5px;
	top: 10px;
}

.xlxw-fruits-container-title>h2 {
	margin: 0px;
	font-family: "arial, helvetica, sans-serif";
	width: 200px !important;
	height: 50px !important;
	line-height: 50px !important;
	position: absolute;
	left: 40px;
	top: 0px;
}

.xlxw-fruits-container-title>a {
	margin: 0px;
	font-family: "microsoft yahei";
	font-size: 16px;
	width: 100px !important;
	height: 50px !important;
	line-height: 50px !important;
	text-decoration: none;
	text-align: right;
	color: #333333;
	position: absolute;
	right: 5px;
	top: 0px;
}

.xlxw-fruits-container-title>a:hover {
	color: #4CAF50;
}


/*时令鲜果内容栏*/

.xlxw-fruits-content {
	height: 500px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/*左边样式开始*/

.xlxw-fruits-content-left {
	width: 210px;
	height: 500px;
	background: url(../images/index/column/Fruits.jpg) no-repeat center center;
	position: relative;
	float: left;
}


/*第一个项目组*/

.xlxw-fruits-content-left>ul.item1 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 50px;
}


/*第二个项目组*/

.xlxw-fruits-content-left>ul.item2 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 15px;
}


/*项目组通用样式*/

.xlxw-fruits-content-left>ul.item1>li,
.xlxw-fruits-content-left>ul.item2>li {
	list-style: none;
	float: left;
}

.xlxw-fruits-content-left>ul.item1>li>a,
.xlxw-fruits-content-left>ul.item2>li>a {
	float: left;
	margin: 0 6px 6px 0;
	padding: 0 13px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: 1px solid #ddd;
	background: rgba(247, 247, 251, .2);
	-moz-border-radius: 13px;
	border-radius: 13px;
	overflow: hidden;
	text-decoration: none;
}

.xlxw-fruits-content-left>ul.item1>li>a:hover,
.xlxw-fruits-content-left>ul.item2>li>a:hover {
	background: #4CAF50;
}


/*左边样式结束*/


/*右边样式开始*/

.xlxw-fruits-content-right {
	width: 1054px !important;
	height: 500px !important;
	display: block;
	float: left;
}

.xlxw-fruits-content-right-list {
	width: 100% !important;
	height: 250px !important;
	display: block;
	margin: 0px;
	padding: 0px;
}

.xlxw-fruits-content-right-list-item {
	width: 202px !important;
	height: 245px !important;
	display: block;
	list-style: none;
	background: #FFFFFF;
	float: left;
	margin-right: 11px;
}

.xlxw-fruits-content-right-list-item:hover {
	border-bottom: 2px solid #4CAF50;
}

.xlxw-fruits-content-right-list-item>a {
	text-decoration: none;
	display: block;
	border-top: 1px solid transparent;
}

.xlxw-fruits-content-right-list-item>a>img {
	width: 160px !important;
	height: 160px !important;
	display: block;
	outline: none;
	margin: 5px auto;
	transition: all 0.25s;
}

.xlxw-fruits-content-right-list-item>a>p {
	width: 160px;
	height: 36px;
	font-size: 14px;
	color: #111;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	font-weight: lighter;
	margin: 7.5px auto 0px auto;
	line-height: 18px;
}

.xlxw-fruits-content-right-list-item-price {
	font-size: 16px !important;
	height: 20px !important;
	font-weight: 900 !important;
	margin: 3px auto !important;
}

.xlxw-fruits-content-right-list-item:hover .xlxw-fruits-content-right-list-item-active {
	color: #4CAF50 !important;
}

.xlxw-fruits-content-right-list-item:hover .xlxw-fruits-content-right-list-item-img {
	margin: 2.5px auto !important;
	margin-bottom: 2.5px !important;
}

.xlxw-fruits-content-right-list-last-item {
	margin-right: 0px !important;
}


/*右边样式结束*/


/*时令鲜果热门品牌*/

.xlxw-fruits-container-bottom {
	width: 100%;
	height: 80px;
	margin-top: 5px !important;
}

.xlxw-fruits-container-bottom>ul {
	margin: 0px;
	padding: 0px;
	width: 100% !important;
	height: 80px;
	display: block;
}

.xlxw-fruits-container-bottom>ul>li {
	width: 9.0894% !important;
	height: 80px;
	display: block;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.xlxw-fruits-container-bottom>ul>li:nth-child(1) {
	width: 210px !important;
}

.xlxw-fruits-container-bottom img {
	outline: none;
	margin: 0px;
	padding: 0px;
	width: 60px;
	height: 50px;
	margin: 15px auto;
	display: block;
}

.xlxw-fruits-container-bottom>ul .hot-title {
	width: 80px !important;
	height: 80px;
	display: block;
	background: url(../images/index/hot/Fruits.jpg) no-repeat center center;
}


/*时令鲜果样式结束*/


/*新鲜蔬菜样式开始*/

.xlxw-vegetables-container {
	height: 700px !important;
	padding-top: 30px;
	overflow: hidden;
}


/*新鲜蔬菜标题栏*/

.xlxw-vegetables-container-title {
	width: 100% !important;
	height: 50px !important;
	position: relative;
	border: 1px solid #E0E0E0;
}

.xlxw-vegetables-container-title>i {
	background: url(../images/index/menu/vegetables.png) no-repeat center center;
	width: 32px;
	height: 32px;
	display: inline-block;
	background-position: 0px 0px;
	position: absolute;
	left: 5px;
	top: 10px;
}

.xlxw-vegetables-container-title>h2 {
	margin: 0px;
	font-family: "arial, helvetica, sans-serif";
	width: 200px !important;
	height: 50px !important;
	line-height: 50px !important;
	position: absolute;
	left: 40px;
	top: 0px;
}

.xlxw-vegetables-container-title>a {
	margin: 0px;
	font-family: "microsoft yahei";
	font-size: 16px;
	width: 100px !important;
	height: 50px !important;
	line-height: 50px !important;
	text-decoration: none;
	text-align: right;
	color: #333333;
	position: absolute;
	right: 5px;
	top: 0px;
}

.xlxw-vegetables-container-title>a:hover {
	color: #A7BF37;
}


/*新鲜蔬菜内容栏*/

.xlxw-vegetables-content {
	height: 500px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/*左边样式开始*/

.xlxw-vegetables-content-left {
	width: 210px;
	height: 500px;
	background: url(../images/index/column/Vegetables.jpg) no-repeat center center;
	position: relative;
	float: left;
}


/*第一个项目组*/

.xlxw-vegetables-content-left>ul.item1 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 50px;
}


/*第二个项目组*/

.xlxw-vegetables-content-left>ul.item2 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 15px;
}


/*项目组通用样式*/

.xlxw-vegetables-content-left>ul.item1>li,
.xlxw-vegetables-content-left>ul.item2>li {
	list-style: none;
	float: left;
}

.xlxw-vegetables-content-left>ul.item1>li>a,
.xlxw-vegetables-content-left>ul.item2>li>a {
	float: left;
	margin: 0 6px 6px 0;
	padding: 0 13px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: 1px solid #ddd;
	background: rgba(247, 247, 251, .2);
	-moz-border-radius: 13px;
	border-radius: 13px;
	overflow: hidden;
	text-decoration: none;
}

.xlxw-vegetables-content-left>ul.item1>li>a:hover,
.xlxw-vegetables-content-left>ul.item2>li>a:hover {
	background: #A7BF37;
}


/*左边样式结束*/


/*右边样式开始*/

.xlxw-vegetables-content-right {
	width: 1054px !important;
	height: 500px !important;
	display: block;
	float: left;
}

.xlxw-vegetables-content-right-list {
	width: 100% !important;
	height: 250px !important;
	display: block;
	margin: 0px;
	padding: 0px;
}

.xlxw-vegetables-content-right-list-item {
	width: 202px !important;
	height: 245px !important;
	display: block;
	list-style: none;
	background: #FFFFFF;
	float: left;
	margin-right: 11px;
}

.xlxw-vegetables-content-right-list-item:hover {
	border-bottom: 2px solid #A7BF37;
}

.xlxw-vegetables-content-right-list-item>a {
	text-decoration: none;
	display: block;
	border-top: 1px solid transparent;
}

.xlxw-vegetables-content-right-list-item>a>img {
	width: 160px !important;
	height: 160px !important;
	display: block;
	outline: none;
	margin: 5px auto;
	transition: all 0.25s;
}

.xlxw-vegetables-content-right-list-item>a>p {
	width: 160px;
	height: 36px;
	font-size: 14px;
	color: #111;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	font-weight: lighter;
	margin: 7.5px auto 0px auto;
	line-height: 18px;
}

.xlxw-vegetables-content-right-list-item-price {
	font-size: 16px !important;
	height: 20px !important;
	font-weight: 900 !important;
	margin: 3px auto !important;
}

.xlxw-vegetables-content-right-list-item:hover .xlxw-vegetables-content-right-list-item-active {
	color: #A7BF37 !important;
}

.xlxw-vegetables-content-right-list-item:hover .xlxw-vegetables-content-right-list-item-img {
	margin: 2.5px auto !important;
	margin-bottom: 2.5px !important;
}

.xlxw-vegetables-content-right-list-last-item {
	margin-right: 0px !important;
}


/*右边样式结束*/


/*新鲜蔬菜热门品牌*/

.xlxw-vegetables-container-bottom {
	width: 100%;
	height: 80px;
	margin-top: 5px !important;
}

.xlxw-vegetables-container-bottom>ul {
	margin: 0px;
	padding: 0px;
	width: 100% !important;
	height: 80px;
	display: block;
}

.xlxw-vegetables-container-bottom>ul>li {
	width: 9.0894% !important;
	height: 80px;
	display: block;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.xlxw-vegetables-container-bottom>ul>li:nth-child(1) {
	width: 210px !important;
}

.xlxw-vegetables-container-bottom img {
	outline: none;
	margin: 0px;
	padding: 0px;
	width: 60px;
	height: 50px;
	margin: 15px auto;
	display: block;
}

.xlxw-vegetables-container-bottom>ul .hot-title {
	width: 80px !important;
	height: 80px;
	display: block;
	background: url(../images/index/hot/Vegetables.jpg) no-repeat center center;
}


/*新鲜蔬菜样式结束*/


/*肉禽蛋品样式开始*/

.xlxw-meat-container {
	height: 700px !important;
	padding-top: 30px;
	overflow: hidden;
}


/*肉禽蛋品标题栏*/

.xlxw-meat-container-title {
	width: 100% !important;
	height: 50px !important;
	position: relative;
	border: 1px solid #E0E0E0;
}

.xlxw-meat-container-title>i {
	background: url(../images/index/menu/meat.png) no-repeat center center;
	width: 32px;
	height: 32px;
	display: inline-block;
	background-position: 0px 0px;
	position: absolute;
	left: 5px;
	top: 10px;
}

.xlxw-meat-container-title>h2 {
	margin: 0px;
	font-family: "arial, helvetica, sans-serif";
	width: 200px !important;
	height: 50px !important;
	line-height: 50px !important;
	position: absolute;
	left: 40px;
	top: 0px;
}

.xlxw-meat-container-title>a {
	margin: 0px;
	font-family: "microsoft yahei";
	font-size: 16px;
	width: 100px !important;
	height: 50px !important;
	line-height: 50px !important;
	text-decoration: none;
	text-align: right;
	color: #333333;
	position: absolute;
	right: 5px;
	top: 0px;
}

.xlxw-meat-container-title>a:hover {
	color: #FF9F6F;
}


/*肉禽蛋品内容栏*/

.xlxw-meat-content {
	height: 500px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/*左边样式开始*/

.xlxw-meat-content-left {
	width: 210px;
	height: 500px;
	background: url(../images/index/column/Meat.jpg) no-repeat center center;
	position: relative;
	float: left;
}


/*第一个项目组*/

.xlxw-meat-content-left>ul.item1 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 50px;
}


/*第二个项目组*/

.xlxw-meat-content-left>ul.item2 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 15px;
}


/*项目组通用样式*/

.xlxw-meat-content-left>ul.item1>li,
.xlxw-meat-content-left>ul.item2>li {
	list-style: none;
	float: left;
}

.xlxw-meat-content-left>ul.item1>li>a,
.xlxw-meat-content-left>ul.item2>li>a {
	float: left;
	margin: 0 6px 6px 0;
	padding: 0 13px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: 1px solid #ddd;
	background: rgba(247, 247, 251, .2);
	-moz-border-radius: 13px;
	border-radius: 13px;
	overflow: hidden;
	text-decoration: none;
}

.xlxw-meat-content-left>ul.item1>li>a:hover,
.xlxw-meat-content-left>ul.item2>li>a:hover {
	background: #FF9F6F;
}


/*左边样式结束*/


/*右边样式开始*/

.xlxw-meat-content-right {
	width: 1054px !important;
	height: 500px !important;
	display: block;
	float: left;
}

.xlxw-meat-content-right-list {
	width: 100% !important;
	height: 250px !important;
	display: block;
	margin: 0px;
	padding: 0px;
}

.xlxw-meat-content-right-list-item {
	width: 202px !important;
	height: 245px !important;
	display: block;
	list-style: none;
	background: #FFFFFF;
	float: left;
	margin-right: 11px;
}

.xlxw-meat-content-right-list-item:hover {
	border-bottom: 2px solid #FF9F6F;
}

.xlxw-meat-content-right-list-item>a {
	text-decoration: none;
	display: block;
	border-top: 1px solid transparent;
}

.xlxw-meat-content-right-list-item>a>img {
	width: 160px !important;
	height: 160px !important;
	display: block;
	outline: none;
	margin: 5px auto;
	transition: all 0.25s;
}

.xlxw-meat-content-right-list-item>a>p {
	width: 160px;
	height: 36px;
	font-size: 14px;
	color: #111;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	font-weight: lighter;
	margin: 7.5px auto 0px auto;
	line-height: 18px;
}

.xlxw-meat-content-right-list-item-price {
	font-size: 16px !important;
	height: 20px !important;
	font-weight: 900 !important;
	margin: 3px auto !important;
}

.xlxw-meat-content-right-list-item:hover .xlxw-meat-content-right-list-item-active {
	color: #FF9F6F !important;
}

.xlxw-meat-content-right-list-item:hover .xlxw-meat-content-right-list-item-img {
	margin: 2.5px auto !important;
	margin-bottom: 2.5px !important;
}

.xlxw-meat-content-right-list-last-item {
	margin-right: 0px !important;
}


/*右边样式结束*/


/*肉禽蛋品热门品牌*/

.xlxw-meat-container-bottom {
	width: 100%;
	height: 80px;
	margin-top: 5px !important;
}

.xlxw-meat-container-bottom>ul {
	margin: 0px;
	padding: 0px;
	width: 100% !important;
	height: 80px;
	display: block;
}

.xlxw-meat-container-bottom>ul>li {
	width: 9.0894% !important;
	height: 80px;
	display: block;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.xlxw-meat-container-bottom>ul>li:nth-child(1) {
	width: 210px !important;
}

.xlxw-meat-container-bottom img {
	outline: none;
	margin: 0px;
	padding: 0px;
	width: 60px;
	height: 50px;
	margin: 15px auto;
	display: block;
}

.xlxw-meat-container-bottom>ul .hot-title {
	width: 80px !important;
	height: 80px;
	display: block;
	background: url(../images/index/hot/Meat.jpg) no-repeat center center;
}


/*肉禽蛋品样式结束*/


/*海鲜水产样式开始*/

.xlxw-seafood-container {
	height: 700px !important;
	padding-top: 30px;
	overflow: hidden;
}


/*海鲜水产标题栏*/

.xlxw-seafood-container-title {
	width: 100% !important;
	height: 50px !important;
	position: relative;
	border: 1px solid #E0E0E0;
}

.xlxw-seafood-container-title>i {
	background: url(../images/index/menu/seafood.png) no-repeat center center;
	width: 32px;
	height: 32px;
	display: inline-block;
	background-position: 0px 0px;
	position: absolute;
	left: 5px;
	top: 10px;
}

.xlxw-seafood-container-title>h2 {
	margin: 0px;
	font-family: "arial, helvetica, sans-serif";
	width: 200px !important;
	height: 50px !important;
	line-height: 50px !important;
	position: absolute;
	left: 40px;
	top: 0px;
}

.xlxw-seafood-container-title>a {
	margin: 0px;
	font-family: "microsoft yahei";
	font-size: 16px;
	width: 100px !important;
	height: 50px !important;
	line-height: 50px !important;
	text-decoration: none;
	text-align: right;
	color: #333333;
	position: absolute;
	right: 5px;
	top: 0px;
}

.xlxw-seafood-container-title>a:hover {
	color: #56B1E8;
}


/*海鲜水产内容栏*/

.xlxw-seafood-content {
	height: 500px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/*左边样式开始*/

.xlxw-seafood-content-left {
	width: 210px;
	height: 500px;
	background: url(../images/index/column/Seafood.jpg) no-repeat center center;
	position: relative;
	float: left;
}


/*第一个项目组*/

.xlxw-seafood-content-left>ul.item1 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 50px;
}


/*第二个项目组*/

.xlxw-seafood-content-left>ul.item2 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 15px;
}


/*项目组通用样式*/

.xlxw-seafood-content-left>ul.item1>li,
.xlxw-seafood-content-left>ul.item2>li {
	list-style: none;
	float: left;
}

.xlxw-seafood-content-left>ul.item1>li>a,
.xlxw-seafood-content-left>ul.item2>li>a {
	float: left;
	margin: 0 6px 6px 0;
	padding: 0 13px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: 1px solid #ddd;
	background: rgba(247, 247, 251, .2);
	-moz-border-radius: 13px;
	border-radius: 13px;
	overflow: hidden;
	text-decoration: none;
}

.xlxw-seafood-content-left>ul.item1>li>a:hover,
.xlxw-seafood-content-left>ul.item2>li>a:hover {
	background: #56B1E8;
}


/*左边样式结束*/


/*右边样式开始*/

.xlxw-seafood-content-right {
	width: 1054px !important;
	height: 500px !important;
	display: block;
	float: left;
}

.xlxw-seafood-content-right-list {
	width: 100% !important;
	height: 250px !important;
	display: block;
	margin: 0px;
	padding: 0px;
}

.xlxw-seafood-content-right-list-item {
	width: 202px !important;
	height: 245px !important;
	display: block;
	list-style: none;
	background: #FFFFFF;
	float: left;
	margin-right: 11px;
}

.xlxw-seafood-content-right-list-item:hover {
	border-bottom: 2px solid #56B1E8;
}

.xlxw-seafood-content-right-list-item>a {
	text-decoration: none;
	display: block;
	border-top: 1px solid transparent;
}

.xlxw-seafood-content-right-list-item>a>img {
	width: 160px !important;
	height: 160px !important;
	display: block;
	outline: none;
	margin: 5px auto;
	transition: all 0.25s;
}

.xlxw-seafood-content-right-list-item>a>p {
	width: 160px;
	height: 36px;
	font-size: 14px;
	color: #111;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	font-weight: lighter;
	margin: 7.5px auto 0px auto;
	line-height: 18px;
}

.xlxw-seafood-content-right-list-item-price {
	font-size: 16px !important;
	height: 20px !important;
	font-weight: 900 !important;
	margin: 3px auto !important;
}

.xlxw-seafood-content-right-list-item:hover .xlxw-seafood-content-right-list-item-active {
	color: #56B1E8 !important;
}

.xlxw-seafood-content-right-list-item:hover .xlxw-seafood-content-right-list-item-img {
	margin: 2.5px auto !important;
	margin-bottom: 2.5px !important;
}

.xlxw-seafood-content-right-list-last-item {
	margin-right: 0px !important;
}


/*右边样式结束*/


/*海鲜水产热门品牌*/

.xlxw-seafood-container-bottom {
	width: 100%;
	height: 80px;
	margin-top: 5px !important;
}

.xlxw-seafood-container-bottom>ul {
	margin: 0px;
	padding: 0px;
	width: 100% !important;
	height: 80px;
	display: block;
}

.xlxw-seafood-container-bottom>ul>li {
	width: 9.0894% !important;
	height: 80px;
	display: block;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.xlxw-seafood-container-bottom>ul>li:nth-child(1) {
	width: 210px !important;
}

.xlxw-seafood-container-bottom img {
	outline: none;
	margin: 0px;
	padding: 0px;
	width: 60px;
	height: 50px;
	margin: 15px auto;
	display: block;
}

.xlxw-seafood-container-bottom>ul .hot-title {
	width: 80px !important;
	height: 80px;
	display: block;
	background: url(../images/index/hot/Seafood.jpg) no-repeat center center;
}


/*海鲜水产样式结束*/


/*柴米油盐样式开始*/

.xlxw-oil-container {
	height: 700px !important;
	padding-top: 30px;
	overflow: hidden;
}


/*柴米油盐标题栏*/

.xlxw-oil-container-title {
	width: 100% !important;
	height: 50px !important;
	position: relative;
	border: 1px solid #E0E0E0;
}

.xlxw-oil-container-title>i {
	background: url(../images/index/menu/rice.png) no-repeat center center;
	width: 32px;
	height: 32px;
	display: inline-block;
	background-position: 0px 0px;
	position: absolute;
	left: 5px;
	top: 10px;
}

.xlxw-oil-container-title>h2 {
	margin: 0px;
	font-family: "arial, helvetica, sans-serif";
	width: 200px !important;
	height: 50px !important;
	line-height: 50px !important;
	position: absolute;
	left: 40px;
	top: 0px;
}

.xlxw-oil-container-title>a {
	margin: 0px;
	font-family: "microsoft yahei";
	font-size: 16px;
	width: 100px !important;
	height: 50px !important;
	line-height: 50px !important;
	text-decoration: none;
	text-align: right;
	color: #333333;
	position: absolute;
	right: 5px;
	top: 0px;
}

.xlxw-oil-container-title>a:hover {
	color: #f8db62;
}


/*柴米油盐内容栏*/

.xlxw-oil-content {
	height: 500px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/*左边样式开始*/

.xlxw-oil-content-left {
	width: 210px;
	height: 500px;
	background: url(../images/index/column/Oil.jpg) no-repeat center center;
	position: relative;
	float: left;
}


/*第一个项目组*/

.xlxw-oil-content-left>ul.item1 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 50px;
}


/*第二个项目组*/

.xlxw-oil-content-left>ul.item2 {
	width: 200px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: 15px;
}


/*项目组通用样式*/

.xlxw-oil-content-left>ul.item1>li,
.xlxw-oil-content-left>ul.item2>li {
	list-style: none;
	float: left;
}

.xlxw-oil-content-left>ul.item1>li>a,
.xlxw-oil-content-left>ul.item2>li>a {
	float: left;
	margin: 0 6px 6px 0;
	padding: 0 13px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: 1px solid #ddd;
	background: rgba(247, 247, 251, .2);
	-moz-border-radius: 13px;
	border-radius: 13px;
	overflow: hidden;
	text-decoration: none;
}

.xlxw-oil-content-left>ul.item1>li>a:hover,
.xlxw-oil-content-left>ul.item2>li>a:hover {
	background: #f8db62;
}


/*左边样式结束*/


/*右边样式开始*/

.xlxw-oil-content-right {
	width: 1054px !important;
	height: 500px !important;
	display: block;
	float: left;
}

.xlxw-oil-content-right-list {
	width: 100% !important;
	height: 250px !important;
	display: block;
	margin: 0px;
	padding: 0px;
}

.xlxw-oil-content-right-list-item {
	width: 202px !important;
	height: 245px !important;
	display: block;
	list-style: none;
	background: #FFFFFF;
	float: left;
	margin-right: 11px;
}

.xlxw-oil-content-right-list-item:hover {
	border-bottom: 2px solid #f8db62;
}

.xlxw-oil-content-right-list-item>a {
	text-decoration: none;
	display: block;
	border-top: 1px solid transparent;
}

.xlxw-oil-content-right-list-item>a>img {
	width: 160px !important;
	height: 160px !important;
	display: block;
	outline: none;
	margin: 5px auto;
	transition: all 0.25s;
}

.xlxw-oil-content-right-list-item>a>p {
	width: 160px;
	height: 36px;
	font-size: 14px;
	color: #111;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	font-weight: lighter;
	margin: 7.5px auto 0px auto;
	line-height: 18px;
}

.xlxw-oil-content-right-list-item-price {
	font-size: 16px !important;
	height: 20px !important;
	font-weight: 900 !important;
	margin: 3px auto !important;
}

.xlxw-oil-content-right-list-item:hover .xlxw-oil-content-right-list-item-active {
	color: #f8db62 !important;
}

.xlxw-oil-content-right-list-item:hover .xlxw-oil-content-right-list-item-img {
	margin: 2.5px auto !important;
	margin-bottom: 2.5px !important;
}

.xlxw-oil-content-right-list-last-item {
	margin-right: 0px !important;
}


/*右边样式结束*/


/*柴米油盐热门品牌*/

.xlxw-oil-container-bottom {
	width: 100%;
	height: 80px;
	margin-top: 5px !important;
}

.xlxw-oil-container-bottom>ul {
	margin: 0px;
	padding: 0px;
	width: 100% !important;
	height: 80px;
	display: block;
}

.xlxw-oil-container-bottom>ul>li {
	width: 9.0894% !important;
	height: 80px;
	display: block;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.xlxw-oil-container-bottom>ul>li:nth-child(1) {
	width: 210px !important;
}

.xlxw-oil-container-bottom img {
	outline: none;
	margin: 0px;
	padding: 0px;
	width: 60px;
	height: 50px;
	margin: 15px auto;
	display: block;
}

.xlxw-oil-container-bottom>ul .hot-title {
	width: 80px !important;
	height: 80px;
	display: block;
	background: url(../images/index/hot/Oil.jpg) no-repeat center center;
}


/*柴米油盐样式结束*/


/**
 * 
 * ##右侧返回顶部样式##
 * 
 * */

.xlxw-toolbar {
	position: fixed;
	top: 31%;
	right: 90px;
	opacity: 0.75;
	display: none;
}


/*自适应屏幕*/

@media screen and (max-width: 1920px) {
	.xlxw-toolbar {
		right: 75px;
	}
}

@media screen and (max-width: 1560px) {
	.xlxw-toolbar {
		right: 25px;
	}
}

@media screen and (max-width: 1450px) {
	.xlxw-toolbar-item {
		display: none !important;
	}
}

.xlxw-toolbar-item {
	background: rgba(0, 0, 0, 0.25);
}

.xlxw-toolbar-item {
	width: 48px;
	height: 48px;
	display: block;
	margin-top: 1px;
	position: relative;
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	color: #FEFEFE;
	text-align: center;
	-moz-transition: background-position 1.5s;
	-ms-transition: background-position 1.5s;
	-o-moz-transition: background-position 1.5s;
	-webkit-moz-transition: background-position 1.5s;
	transition: background-position 1.5s;
	cursor: pointer;
}

.xlxw-toolbar-item-areaHot:hover {
	background: #ffc92a !important;
}

.xlxw-toolbar-item-fruits:hover {
	background: #4FBB6E;
}

.xlxw-toolbar-item-vegetables:hover {
	background: #A7BF36;
}

.xlxw-toolbar-item-meat:hover {
	background: #FF9F6E;
}

.xlxw-toolbar-item-seafood:hover {
	background: #55B1E8;
}

.xlxw-toolbar-item-oil:hover {
	background: #FBE58F;
}

.xlxw-toolbar-item-feedback:hover {}

.xlxw-toolbar-item-top:hover {
	background: #4CAF50;
}