@charset "utf-8";

/*!
 * 
 * < 鲜来鲜往 - 首页 >
 * 
 * @author:葛彤彤;
 * @since:1.0;
 * 
 * */


/*全局变量样式*/

body {
	min-width: 1280px !important;
	background-color: #F3F3F3 !important;
	color: #222 !important;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}

.mdui-container {
	min-width: 1280px !important;
}


/*全局变量样式*/

body {
	min-width: 1280px !important;
	background-color: #F3F3F3 !important;
	color: #222 !important;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}

.mdui-container {
	min-width: 1280px !important;
}


/*
1：网站首页整体主色：#4CAF50
2：网站时令水果主色：#31BA6A
3：网站新鲜蔬菜主色：#A7BF37
4：网站肉禽蛋品主色：#FF9F6F
5：网站海鲜水产主色：#56B1E8
6：网站柴米油盐主色：#F8DB63
*/

.xlxw-fruits-color {
	color: #31BA6A !important;
}

.xlxw-vegetables-color {
	color: #A7BF37 !important;
}

.xlxw-meat-color {
	color: #FF9F6F !important;
}

.xlxw-seafood-color {
	color: #56B1E8 !important;
}

.xlxw-oil-color {
	color: #F8DB63 !important;
}


/**
 * 
 * ##头部搜索栏样式##
 * 
 * */

.xlxw-search {
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}


/*搜索栏左边logo样式*/

.xlxw-search-left h1 {
	width: 151px;
	height: 48px;
	display: block;
	background: url(../images/index/logo/logo.png) no-repeat center center;
	margin: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.xlxw-search-left h1 a {
	margin: 0px;
	padding: 0px;
	width: 151px;
	height: 48px;
	display: block;
	text-indent: -9999px;
}


/*搜索栏右边搜索框样式*/

.xlxw-search-group {
	width: 550px;
	height: 34px;
	border: 2px solid #AAA;
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 0px 0px 0px 5px;
	float: left;
}

.xlxw-search-group-select {
	width: 72px;
	height: 36px;
	float: left;
}

.xlxw-search-group-select span {
	width: 70px;
	height: 34px;
	display: block;
	border-right: 2px solid #AAA;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
}

.xlxw-search-group-select:hover .xlxw-search-group-select-ul {
	display: block;
}

.xlxw-search-group-select span i {
	margin-left: -2px;
}

.xlxw-search-group-select-ul {
	width: 75px;
	height: 55px;
	display: block;
	background: #FFF;
	margin-left: -7px;
	padding: 0px;
	margin-top: 0px;
	border: 2px solid #AAA;
	border-top: transparent;
	display: none;
	position: absolute;
	z-index: 9999;
}

.xlxw-search-group-select-ul li {
	list-style: none;
	text-align: center;
	line-height: 27.5px;
	color: #212121;
	cursor: pointer;
}

.xlxw-search-group-select-ul li:hover {
	color: #4CAF50;
}

.xlxw-search-group input {
	width: 387px;
	height: 32px;
	display: block;
	outline: none;
	border: none;
	float: left;
	padding-left: 10px;
	background: #FCFCFC;
}

.xlxw-search-group button {
	width: 82px;
	height: 37px;
	background: #4CAF50;
	color: #FFF;
	outline: none;
	border: none;
	float: right;
	cursor: pointer;
	margin-top: -2px;
	margin-right: -2px;
}

.xlxw-search-shopping-cart {
	width: 100px;
	height: 34px;
	float: left;
	margin-left: 15px;
	border: 2px solid #4CAF50;
	margin-top: 7px;
	position: relative;
	cursor: pointer;
}

.xlxw-search-shopping-cart a {
	width: 78px;
	height: 34px;
	display: block;
	color: #4CAF50;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	text-decoration: none;
	padding-left: 24px;
}

.xlxw-search-shopping-cart span {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../images/index/shopping-cart/shopping-cart.png) no-repeat center center;
	position: absolute;
	left: 12px;
	top: 8px;
}


/*身体部分*/

.xlxw-body {
	width: 1260px;
	background: #f3f3f3;
}

.xlxw-body-left {
	float: left;
	width: 170px;
	height: 466px;
	background: white;
	margin-bottom: 20px;
}

.xlxw-body-left>ul {
	margin: 0;
	padding: 0;
	width: 170px;
	height: 556px;
}

.xlxw-body-left>ul>li>a {
	text-decoration: none;
	color: black;
}

.xlxw-body-left>ul>li {
	margin-bottom: 1px;
	text-align: center;
	line-height: 44px;
	width: 170px;
	height: 44px;
	list-style: none;
	border-top: solid 1px #f3f3f3;
}

.xlxw-body-left>ul>li:nth-child(1) {
	border-top: solid 6px #4caf50;
}

.xlxw-body-right {
	float: right;
	width: 1070px;
	background: white;
	margin-bottom: 20px;
}

.xlxw-body-right-title {
	width: 1030px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: solid 1px #f3f3f3;
}

.xlxw-body-right-body {
	width: 1030px;
	padding-left: 20px;
	padding-right: 20px;
	height: 870px;
}

ul,
li {
	list-style: none;
}

.xlxw-body-right-body-box {
	height: 40px;
}

.xlxw-body-right-body-box li {
	float: left;
	height: 40px;
	width: 100px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}

.xlxw-body-right-body-box li:hover {
	color: #4CAF50;
	border-bottom: solid 1px #4CAF50;
}

.xlxw-body-right-body-box2-form1 {
	width: 300px;
	text-align: center;
}

.xlxw-body-right-body-box2 {
	height: 820px;
}

.xlxw-body-right-body-box2-word3 {
	height: 30px;
}

.xlxw-body-right-body-box2-form {
	width: 150px;
	height: 40px;
	text-align: center;
}

.xlxw-body-right-body-box2 img {
	width: 70px;
	height: 70px;
	float: left;
	margin-top: 10px;
}

.xlxw-body-right-body-box2-word {
	text-align: center;
}

.xlxw-body-right-body-box2-word2 {
	width: 80px;
	height: 40px;
	border: solid;
	text-align: center;
	line-height: 40px;
	margin-left: 35px;
	background: #4CAF50;
	color: #fff;
}

.xlxw-body-right-body-box2-word2 a {
	color: #fff;
}

.xlxw-body-right-body-box2-word2 a:hover {
	color: black;
}

.xlxw-body-right-body-page {
	text-align: center;
	margin-top: 20px;
	height: 50px;
}

.xlxw-body-right-body-page a,
xlxw-body-right-body-pagepage span {
	text-decoration: none;
	border: 1px solid #f9d52b;
	padding: 5px 7px;
	color: #767675;
	cursor: pointer;
}

.xlxw-body-right-body-page a:hover,
xlxw-body-right-body-page span:hover {
	color: red;
}

.xlxw-body-right-body-box2-word14 {
	line-height: 70px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #4CAF50;
	text-decoration: none;
}

#tabfirst li {
	width: 180px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: left;
}

#tabfirst li.tabin {
	border-bottom: 1px solid #4CAF50;
	margin-bottom: 20px;
}

div.contentfirst {
	clear: left;
	color: black;
	width: 100%;
	height: 820px;
	display: none;
}

div.contentin {
	display: block;
}

.xlxw-body-right-body-img {
	width: 200px;
	height: 200px;
	margin: 100px 410px 0px;
}

.xlxw-body-right-body-word9 {
	text-align: center;
}